html {
  height: 100%;
  width: 100%;
}
body {
  background-image: url('white-colored-background-free-vector.jpg');
}



/*NAVIGATION BAR*/
#navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px;
  border: solid;
  border-width: 0px;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 1px 1px 1px 1px #c9caca;
  /*https://www.w3schools.com/css/css3_shadows_box.asp*/
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  height: 50px;
  background-color: white;
}

#logo {
  font-size: 30px;
  text-shadow: 2px 2px #8b8989;
  ;
  font-family: 'Lucida Handwriting', cursive;
}

#intro {
  border-width: 0px;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  background-color: transparent;
  color: #5a5858;
  height: 70px;
  margin: 0px;
}

#intro:hover {
  /*https://stackoverflow.com/questions/11351447/change-link-color-of-a-when-hover-over-tr*/
  background-color: #ededed;
}

#lessons {
  border-width: 0px;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  background-color: transparent;
  color: #5a5858;
  height: 70px;
  margin: 0px;
}

#lessons:hover {
  /*https://stackoverflow.com/questions/11351447/change-link-color-of-a-when-hover-over-tr*/
  background-color: #ededed;
}

#pricing {
  border-width: 0px;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  background-color: transparent;
  color: #5a5858;
  height: 70px;
  margin: 0px;
}

#pricing:hover {
  /*https://stackoverflow.com/questions/11351447/change-link-color-of-a-when-hover-over-tr*/
  background-color: #ededed;
}

#login {
  border-width: 0px;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  background-color: transparent;
  color: #5a5858;
  height: 70px;
  margin: 0px;
}

#login:hover {
  /*https://stackoverflow.com/questions/11351447/change-link-color-of-a-when-hover-over-tr*/
  background-color: #ededed;
}