html {
  height: 100%;
  width: 100%;
}
body {
  background-image: url('white-colored-background-free-vector.jpg');
}

@media (min-width: 0px) {
  #navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px;
    border: solid;
    border-width: 0px;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 1px 1px 1px 1px #c9caca;
    /*https://www.w3schools.com/css/css3_shadows_box.asp*/
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    height: 25px;
    background-color: white;
  }

  #logo {
    font-size: 15px;
    text-shadow: 2px 2px #8b8989;
    ;
    font-family: 'Lucida Handwriting', cursive;
  }

  #intro {
    border-width: 0px;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    background-color: transparent;
    color: #5a5858;
    height: 45px;
    margin: 0px;
  }

  #intro:hover {
    /*https://stackoverflow.com/questions/11351447/change-link-color-of-a-when-hover-over-tr*/
    background-color: #ededed;
  }

  #lessons {
    border-width: 0px;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    background-color: transparent;
    color: #5a5858;
    height: 45px;
    margin: 0px;
  }

  #lessons:hover {
    /*https://stackoverflow.com/questions/11351447/change-link-color-of-a-when-hover-over-tr*/
    background-color: #ededed;
  }

  #pricing {
    border-width: 0px;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    background-color: transparent;
    color: #5a5858;
    height: 45px;
    margin: 0px;
  }

  #pricing:hover {
    /*https://stackoverflow.com/questions/11351447/change-link-color-of-a-when-hover-over-tr*/
    background-color: #ededed;
  }

  #login {
    border-width: 0px;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    background-color: transparent;
    color: #5a5858;
    height: 45px;
    margin: 0px;
  }

  #login:hover {
    /*https://stackoverflow.com/questions/11351447/change-link-color-of-a-when-hover-over-tr*/
    background-color: #ededed;
  }
  
  #joinProgram {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    margin: 20px;
    box-shadow: 2px 2px 5px #999;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
  }
  #clickjoin {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    margin: 20px;
    box-shadow: 2px 2px 5px #999;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 10px;
  }
  #clickjoin:hover {
    background-color: #ededed;
  }
}

@media (min-width: 700px) {
  /*NAVIGATION*/
  #navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px;
    border: solid;
    border-width: 0px;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 1px 1px 1px 1px #c9caca;
    /*https://www.w3schools.com/css/css3_shadows_box.asp*/
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    height: 50px;
    background-color: white;
  }

  #logo {
    font-size: 30px;
    text-shadow: 2px 2px #8b8989;
    ;
    font-family: 'Lucida Handwriting', cursive;
  }

  #intro {
    border-width: 0px;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    background-color: transparent;
    color: #5a5858;
    height: 70px;
    margin: 0px;
  }

  #intro:hover {
    /*https://stackoverflow.com/questions/11351447/change-link-color-of-a-when-hover-over-tr*/
    background-color: #ededed;
  }

  #lessons {
    border-width: 0px;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    background-color: transparent;
    color: #5a5858;
    height: 70px;
    margin: 0px;
  }

  #lessons:hover {
    /*https://stackoverflow.com/questions/11351447/change-link-color-of-a-when-hover-over-tr*/
    background-color: #ededed;
  }

  #pricing {
    border-width: 0px;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    background-color: transparent;
    color: #5a5858;
    height: 70px;
    margin: 0px;
  }

  #pricing:hover {
    /*https://stackoverflow.com/questions/11351447/change-link-color-of-a-when-hover-over-tr*/
    background-color: #ededed;
  }

  #login {
    border-width: 0px;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    background-color: transparent;
    color: #5a5858;
    height: 70px;
    margin: 0px;
  }

  #login:hover {
    /*https://stackoverflow.com/questions/11351447/change-link-color-of-a-when-hover-over-tr*/
    background-color: #ededed;
  }
  #joinProgram {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    margin: 20px;
    box-shadow: 2px 2px 5px #999;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
  }
  #clickjoin {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    margin: 20px;
    box-shadow: 2px 2px 5px #999;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
  }
  #clickjoin:hover {
    background-color: #ededed;
  }
}

@media (min-width: 1300px) {
  /*NAVIGATION*/
  #navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px;
    border: solid;
    border-width: 0px;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 1px 1px 1px 1px #c9caca;
    /*https://www.w3schools.com/css/css3_shadows_box.asp*/
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    height: 50px;
    background-color: white;
  }

  #logo {
    font-size: 30px;
    text-shadow: 2px 2px #8b8989;
    ;
    font-family: 'Lucida Handwriting', cursive;
  }

  #intro {
    border-width: 0px;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    background-color: transparent;
    color: #5a5858;
    height: 70px;
    margin: 0px;
  }

  #intro:hover {
    /*https://stackoverflow.com/questions/11351447/change-link-color-of-a-when-hover-over-tr*/
    background-color: #ededed;
  }

  #lessons {
    border-width: 0px;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    background-color: transparent;
    color: #5a5858;
    height: 70px;
    margin: 0px;
  }

  #lessons:hover {
    /*https://stackoverflow.com/questions/11351447/change-link-color-of-a-when-hover-over-tr*/
    background-color: #ededed;
  }

  #pricing {
    border-width: 0px;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    background-color: transparent;
    color: #5a5858;
    height: 70px;
    margin: 0px;
  }

  #pricing:hover {
    /*https://stackoverflow.com/questions/11351447/change-link-color-of-a-when-hover-over-tr*/
    background-color: #ededed;
  }

  #login {
    border-width: 0px;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    background-color: transparent;
    color: #5a5858;
    height: 70px;
    margin: 0px;
  }

  #login:hover {
    /*https://stackoverflow.com/questions/11351447/change-link-color-of-a-when-hover-over-tr*/
    background-color: #ededed;
  }
  #joinProgram {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    margin: 20px;
    box-shadow: 2px 2px 5px #999;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 40px;
  }
  #clickjoin {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    margin: 20px;
    box-shadow: 2px 2px 5px #999;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
  }
  #clickjoin:hover {
    background-color: #ededed;
  }
}